<header>
    <div class="navbar navbar-dark  bg-primary shaddow-sm">
        <div class="navbar-brand align-items-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">Flipkart</strong>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search products">

            </div>
            <span class="fas fa-search search-icon">

            </span>
            <div>
                <button class="btn btn-primary">login</button>
            </div>
            <div>
                <button class="btn btn-primary">Become a seller</button>
            </div>
           
          <div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  more
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>
          </div>
            

        </div>
        <button class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">7</div>
        </button>

    </div>
</header>